* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS COLORE GRIGIO DI SFONDO */
html {
    background-color: lightgrey;
}

/* Header css layout */
header {
    background-color: white;
}

.logo.foto {
    padding: 10px 0px 10px 20px;
    vertical-align: middle;
}

.scritta {
    font-size: 50px;
    vertical-align: middle;
}

/* Body css */
main {
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0 10px 50px;
    border-radius: 5px 5px 0 0;

}

.container {
    padding: 20px;
}

.task {
    color: white;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    padding: 5px;
    border-radius: 3px;
}

.section {
    color: lightgrey;
    background-color: white;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 3px;
}