* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS COLORE GRIGIO DI SFONDO */
html {
    background-color: lightgrey;
}

/* Header css layout */
header {
    background-color: white;
}

.logo.foto {
    padding: 10px 0px 10px 20px;
    vertical-align: middle;
}

.scritta {
    font-size: 50px;
    vertical-align: middle;
}

/* Body css  divisione layout*/

.container {
    width: 1200px;
    margin: 50px auto 20px auto;
    background-color: white;
    border-radius: 5px;
}

.sezione {
    padding-left: 50px;
    padding-top: 20px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sezione pulsanti */

.button {
    padding: 5px;
    border-radius: 3px;
}

.button